.btn {
    border-radius: em(5);
    line-height: 1;
    padding: em(9) em(30);
    outline: none;
    border: 1px solid $lblue;
    cursor: pointer;
    transition: .3s all;
    &:focus {
        outline: none;
    }   
    @media only screen and (max-width: 991px){
        padding: 12px 22px;
    }
    &--transparent {
        background-color: transparent;
        color: $lblue;
        &:hover {
            background-color: $lblue;
            color: $white;   
        }
    }
    &--blue {
        background-color: $lblue;
        color: $white;
        &:hover {
            background-color: transparent;
            color: $lblue;
        }
    }
}