body {}

b, strong {
    font-weight:bold;
}

body {
    font-size: 1.250vw;
    
    margin: 0;
    @media only screen and (max-width: 991px){
        font-size: 18px;
    }
}

* {
    outline: none !important;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

.section {
    padding: em(60) em(115);
    @media only screen and (max-width: 991px){
        padding: em(26) em(70);
    }
    @media only screen and (max-width: 767px){
        padding: em(18) em(26);
    }
    &--masthead-container {
        @media only screen and (max-width: 991px){
            padding-bottom: em(57);
        }
    }
    &--culture-container {
        padding-top: em(80);
        padding-bottom: em(70);
        @media only screen and (max-width: 991px){
            padding-bottom: em(50);
            padding-top: em(50);
        }
        @media only screen and (max-width: 767px){
            padding-bottom: em(25);
            padding-top: em(40);
        }
    }
}

