.section--masthead-container {
    width: 100%;
    height: auto;
    .masthead-wrapper {
        .masthead-bgStyle {
            @include bgSettings(cover , no-repeat, center);
            width: 100%;
            height: em(300);
            margin-bottom: em(62);
            @media only screen and (max-width: 991px){
                margin-bottom: em(38);
            }
            @media only screen and (max-width: 767px){
                margin-bottom: em(25);
                height: em(296);
            }
        }
        .masthead-content-container {
            width: 100%;
            .masthead-content-wrapper {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                @media only screen and (max-width: 767px){
                    flex-direction: column;
                }
                .header-wrapper {
                    width: em(498);
                    @media only screen and (max-width: 991px){
                        width: em(270);
                    }
                    @media only screen and (max-width: 767px){
                        width: 100%;
                        margin-bottom: em(25);
                    }
                    h1 {
                        @media only screen and (max-width: 991px){
                            font-size: 32px;
                        }
                    }
                }
                .content-wrapper {
                    width: em(590);
                    @media only screen and (max-width: 991px){
                        width: em(304);
                    }
                    @media only screen and (max-width: 767px){
                        width: 100%;
                    }
                    p{
                        padding-bottom: em(50);
                        &:last-child {
                            padding-bottom: 0;
                        }
                        @media only screen and (max-width: 991px){
                            font-size: 16px;
                            padding-bottom: em(20);
                            &:last-child {
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}