@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
$font : 'Source Sans Pro', sans-serif;


h1 {
    @include textStyle($black ,58, 0, 62, bold );
    font-family: $font;
}

h2 {
    @include textStyle($black ,58, 0, 62, bold );
    font-family: $font;
    letter-spacing: -0.01em;
}

h3 {
    @include textStyle($black ,32, 0, 34, bold );
    font-family: $font;
}

h4 {
    @include textStyle($black ,26, 0, 34, 600 );
    font-family: $font;
    letter-spacing: -0.01em;
}

h5 {
    @include textStyle($black ,21, 0, 38, normal );
    font-family: $font;
    letter-spacing: 0.01em;
}

h6 {
    @include textStyle($black ,21, 0, 34, bold );
    font-family: $font;
}

p {
    @include textStyle($black ,18, 0, 32, normal );
    font-family: $font;
}

a {
    @include textStyle($black ,18, 0, 23, bold );
    font-family: $font;
    text-decoration: none;
}

button {
    @include textStyle($lblue ,18, 0, 23, bold );
    font-family: $font;
}









