@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/*********************
BREAKPOINTS
*********************/
/*********************
BOOTSTRAP BREAKPOINTS
*********************/
/*********************
BREAKPOINTS: Usage
*********************/
/*
@include breakpoint(breakpointname) {
    ==== STYLES ====    
}
*/
.table {
  display: table;
}
.table-full {
  width: 100%;
  height: 100%;
  min-height: inherit;
  position: relative;
}
.table-full:after {
  content: "";
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.v-align-top {
  vertical-align: top;
}

.v-align-middle {
  vertical-align: middle;
}

.v-align-bottom {
  vertical-align: bottom;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

ul.inline-block-group {
  list-style: none;
  padding-left: initial;
}
ul.inline-block-group li {
  display: inline-block;
  vertical-align: middle;
}

.case-upper {
  text-transform: uppercase;
}

.case-lower {
  text-transform: lowercase;
}

.case-proper {
  text-transform: capitalize;
}

.m-auto {
  margin: auto;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.center-block {
  display: block;
  margin: 0 auto;
}

.bp-rel {
  position: relative;
}

.o-hidden {
  overflow: hidden;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.mobile-only {
  display: block;
}

.tablet-up {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
  position: relative;
  height: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
 EXAMPLE Media Queries for Responsive Design.
 These examples override the primary ('mobile first') styles.
 Modify as content requires.
 ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
 Print styles.
 Inlined to avoid the additional HTTP request:
 https://www.phpied.com/delay-loading-your-print-css/
 ========================================================================== */
@media print {
  *,
*:before,
*:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}
.btn {
  border-radius: 0.2777777778em;
  line-height: 1;
  padding: 0.5em 1.6666666667em;
  outline: none;
  border: 1px solid #0688FA;
  cursor: pointer;
  transition: 0.3s all;
}
.btn:focus {
  outline: none;
}
.btn--transparent {
  background-color: transparent;
  color: #0688FA;
}
.btn--transparent:hover {
  background-color: #0688FA;
  color: #ffffff;
}
.btn--blue {
  background-color: #0688FA;
  color: #ffffff;
}
.btn--blue:hover {
  background-color: transparent;
  color: #0688FA;
}

.hamburger {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 2.2222222222em;
  height: 1.3333333333em;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 2.2222222222em;
  height: 0.2222222222em;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

b, strong {
  font-weight: bold;
}

body {
  font-size: 1.25vw;
  margin: 0;
}
@media only screen and (max-width: 991px) {
  body {
    font-size: 18px;
  }
}

* {
  outline: none !important;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.section {
  padding: 3.3333333333em 6.3888888889em;
}
h1 {
  color: #002240;
  font-size: 3.2222222222em;
  letter-spacing: 0em;
  line-height: 1.0689655172;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
}

h2 {
  color: #002240;
  font-size: 3.2222222222em;
  letter-spacing: 0em;
  line-height: 1.0689655172;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: -0.01em;
}

h3 {
  color: #002240;
  font-size: 1.7777777778em;
  letter-spacing: 0em;
  line-height: 1.0625;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
}

h4 {
  color: #002240;
  font-size: 1.4444444444em;
  letter-spacing: 0em;
  line-height: 1.3076923077;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: -0.01em;
}

h5 {
  color: #002240;
  font-size: 1.1666666667em;
  letter-spacing: 0em;
  line-height: 1.8095238095;
  font-weight: normal;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.01em;
}

h6 {
  color: #002240;
  font-size: 1.1666666667em;
  letter-spacing: 0em;
  line-height: 1.619047619;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
}

p {
  color: #002240;
  font-size: 1em;
  letter-spacing: 0em;
  line-height: 1.7777777778;
  font-weight: normal;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: #002240;
  font-size: 1em;
  letter-spacing: 0em;
  line-height: 1.2777777778;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
}

button {
  color: #0688FA;
  font-size: 1em;
  letter-spacing: 0em;
  line-height: 1.2777777778;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  width: 100%;
}
header .header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.9444444444em 6.3888888889em;
  width: 100%;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  header .header-wrapper {
    padding: 1.4444444444em 3.8888888889em;
  }
}
@media only screen and (max-width: 767px) {
  header .header-wrapper {
    padding: 1em 1.4444444444em;
  }
}
header .header-wrapper .logo-container .logo-wrapper img {
  width: 10.3333333333em;
  height: 1.7777777778em;
}
@media only screen and (max-width: 767px) {
  header .header-wrapper .logo-container .logo-wrapper img {
    width: 7.0555555556em;
    height: 1.2222222222em;
  }
}
header .header-wrapper .menu-container {
  width: 100%;
  padding-left: 12.5em;
}
header .header-wrapper .menu-container .menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  header .header-wrapper .menu-container .menu-wrapper .nav-container {
    display: none;
  }
}
header .header-wrapper .menu-container .menu-wrapper .nav-container .nav-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
header .header-wrapper .menu-container .menu-wrapper .nav-container .nav-wrapper ul li {
  list-style: none;
  margin-right: 2.7777777778em;
}
header .header-wrapper .menu-container .menu-wrapper .nav-container .nav-wrapper ul li:hover {
  text-decoration: underline;
}
header .header-wrapper .menu-container .menu-wrapper .nav-container .nav-wrapper ul li:last-child() {
  margin-right: 0;
}
@media only screen and (max-width: 991px) {
  header .header-wrapper .menu-container .menu-wrapper .btn-login-container {
    display: none;
  }
}
header .header-wrapper .menu-container .menu-wrapper .btn-login-container button {
  margin-right: 0.7222222222em;
}
header .header-wrapper .menu-container .menu-wrapper .btn-login-container button:last-child {
  margin-right: 0;
}
header .header-wrapper .menu-btn-container {
  display: none;
}

.section--masthead-container {
  width: 100%;
  min-height: calc(100vh - 6em);
  height: auto;
}
.section--masthead-container .masthead-wrapper .masthead-bgStyle {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 16.6666666667em;
  margin-bottom: 3.4444444444em;
}
.section--masthead-container .masthead-wrapper .masthead-content-container {
  width: 100%;
}
.section--masthead-container .masthead-wrapper .masthead-content-container .masthead-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.section--masthead-container .masthead-wrapper .masthead-content-container .masthead-content-wrapper .header-wrapper {
  width: 27.6666666667em;
}
.section--masthead-container .masthead-wrapper .masthead-content-container .masthead-content-wrapper .content-wrapper {
  width: 32.7777777778em;
}
.section--masthead-container .masthead-wrapper .masthead-content-container .masthead-content-wrapper .content-wrapper p {
  padding-bottom: 2.7777777778em;
}
.section--masthead-container .masthead-wrapper .masthead-content-container .masthead-content-wrapper .content-wrapper p:last-child {
  padding-bottom: 0;
}
/*# sourceMappingURL=build.css.map */